<a href="https://colab.research.google.com/github/Luckymaster5/PythonBasics/blob/main/Lucky_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10

In [ ]:
def add():
  a=int(input('enter 1st number: '))
  b=int(input('enter 2nd number: '))
  print(a+b)

add()

enter 1st number: 9
enter 2nd number: 8
17

In [2]:
def welcome():
  fn=input('enter first name: ')
  ln=input('enter last name: ')
  print('Hello, Welcome',fn,ln,'!!')
  sl=input('Which state do you live in?')
  print('Wow, you live in', sl)
  ll=input('is it hot there?')
  print('Thats what I thought', ll)

welcome()

enter first name: lakshay
enter last name: saini
Hello, Welcome lakshay saini !!
Which state do you live in?texas
Wow, you live in texas
is it hot there?yes
Thats what I thought yes

In [9]:
for j in range(10):
    for h in range(2):
     print(j*2)

0
0
2
2
4
4
6
6
8
8
10
10
12
12
14
14
16
16
18
18

In [ ]:
def calculater():
    d=input('enter first number: ')
    di=int(d)
    e=input('enter second number: ')
    ei=int(e)
    print('multiplication:', di*ei)
    print('addition:', di+ei)
    print('subtraction:', di-ei)
    print('division:', di/ei)

calculater()

enter first number: 6
enter second number: 6
multiplication: 36
addition: 12
subtraction: 0
division: 1.0

In [ ]:
calculater()

enter first number: 321
enter second number: 123
multiplication: 39483
addition: 444
subtraction: 198
division: 2.6097560975609757

In [ ]:
add()

enter first name: pr
enter last name: gfd
Hello
pr
gfd

In [2]:
for i in range(10):
  for x in range(1):
    print('*'*i*2)

**
****
******
********
**********
************
**************
****************
******************

In [12]:
for i in range(1):
  age= int(input('Enter your age:'))
  if age < 10:
    print('you are a kid')
  else:
    print('you are kalu')

Enter your age:5
you are a kid

In [29]:
a= int(input('enter any number'))
while a>-1:
  print(a)
  a=a-1

enter any number10
10
9
8
7
6
5
4
3
2
1
0

In [39]:
a= int(input('enter any number'))
b=0
while a>0:
  print(b,'+',a,'=',b+a)
  b=b+a
  a=a-1

enter any number5
0 + 5 = 5
5 + 4 = 9
9 + 3 = 12
12 + 2 = 14
14 + 1 = 15