<a href="https://colab.research.google.com/github/Luckymaster5/PythonBasics/blob/main/Lucky_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10

In [95]:
def add():
  a=int(input('enter 1st number: '))
  b=int(input('enter 2nd number: '))
  print(a+b)

add()

enter 1st number: 9
enter 2nd number: 8
17

In [128]:
def welcome():
  fn=input('enter first name: ')
  ln=input('enter last name: ')
  print('Hello, Welcome',fn,ln,'!!')
  sl=input('Which state do you live in?')
  print('Wow, you live in', sl)
  ll=input('is it hot there?')sd
  print('Thats what I thought', ll)

welcome()

enter first name: dfd
enter last name: sd
Hello, Welcome dfd sd !!
Which state do you live in?g
Wow, you live in g
is it hot there?gds
Thats what I thought gds

In [124]:
def calculater():
    d=input('enter first number: ')
    di=int(d)
    e=input('enter second number: ')
    ei=int(e)
    print('multiplication:', di*ei)
    print('addition:', di+ei)
    print('subtraction:', di-ei)
    print('division:', di/ei)

calculater()

enter first number: 6
enter second number: 6
multiplication: 36
addition: 12
subtraction: 0
division: 1.0

In [125]:
calculater()

enter first number: 321
enter second number: 123
multiplication: 39483
addition: 444
subtraction: 198
division: 2.6097560975609757

In [94]:
add()

enter first name: pr
enter last name: gfd
Hello
pr
gfd

In [149]:
for i in range(10):
  for x in range(1):
    print('*'*i*2)

**
****
******
********
**********
************
**************
****************
******************